#ImageExtractor.config
#This Textfile is used to configer, which External programm is called by the GUI of
#the ImageExtractor

#standard:
#External=java -jar libs/ij.jar -eval 'run("Image Sequence...", "open=$FILE sort");'


External_DICOM=java -jar libs/oldJar/ij.jar -eval 'run("Image Sequence...", "open=$FILE sort");'
External_NITFI=java -jar libs/oldJar/ij.jar -eval 'run("NIfTI-Analyze", "open=$FILE sort");'

# If StartBrowse is set, than the LastBrowse is unused
#StartBrowse=

LastBrowse=/opt/dridder_local/TestDicoms/Nifti/15.05.19-17:00:13-DST-1.3.12.2.1107.5.2.32.35135
