#ImageExtractor.config
#This Textfile is used to configer, which External programm is called by the GUI of
#the ImageExtractor

#standard:
#External=java -jar libs/ij.jar -eval 'run("Image Sequence...", "open=$FILE sort");'


External_DICOM=java -jar libs/ij.jar -eval 'run("Image Sequence...", "open=$FILE sort");'
External_NITFI=java -jar libs/ij.jar -eval 'run("NIfTI-Analyze", "open=$FILE sort");'

# If StartBrowse is set, than the LastBrowse is unused
#StartBrowse=

LastBrowse=/opt/dridder_local/TestDicoms/AllDicoms/B0092/14_wm_gre_rx=PA
